name: Deploy Node.js App

on:
  push:
    branches:
      -main

jobs:
  deploy:
    runs-on: http://localhost:3000

    steps:
      - name: Checkout code
        uses: actions/checkout@v2 

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{secrets.SSH_HOST}}
          username: root
          key: ${{secrets.SSH_KEY}}
          scripts: |
            cd /root/github-actions
            git pull
            docker compose up -d --build



      